.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
}

.button {
  background-color: #f1c40f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #e5b80f;
}

.footer {
  width: 100%;
  background-color: #ccc;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 14px;
  margin: 0;
}
